<div *ngIf="isArticleWriter() && manageArticleForm" id="newArticleComponent">
  <form class="col s12" [formGroup]="manageArticleForm">
    <div class="row">
      <div class="input-field col s12">
        <edit-input-field [formGroup]="manageArticleForm" [propertyField]="titleField"></edit-input-field>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <edit-text-area [formGroup]="manageArticleForm" [propertyField]="contentField"></edit-text-area>
      </div>
    </div>
    <div class="row margin">
      <div class="input-field col s12">
        <select id="team" formControlName="team" dropdown-directive (changeEvent)="updateTeamId($event)">
          <optgroup *ngFor="let oldClass of oldClasses" label="{{oldClass.name}}">
            <option *ngFor="let team of oldClass.teams" value="{{team.id}}">{{team.name}}</option>
          </optgroup>
        </select>
        <label for="team" class="active" data-error="Ein Team muss ausgewählt werden">Team</label>
      </div>
    </div>
    <div class="relative">
      <a (click)="createArticle(manageArticleForm.value)"
         class="waves-effect waves-light btn submit-btn align-right">
        Veröffentlichen
      </a>
      <a (click)="locationService.goBack()"
         class="waves-effect waves-light btn align-left">
        Zurück
      </a>
    </div>
  </form>
</div>
