<div *ngFor="let team of teams">
  <div class="row">
    <div class="col s12 m6 l12">
      <div class="card hoverable teal darken-1">
        <div class="card-content white-text">
          <p class="card-title center-align">{{team.name}}</p>
          <p *ngFor="let trainingTime of team.trainingTimes">
            {{trainingTime.day}}: {{trainingTime.time}}
          </p>
        </div>
        <div class="card-action">
          <a href="#">Mehr Informationen</a>
        </div>
      </div>
    </div>
  </div>
</div>
