<div *ngIf="team">
  <div class="row team-card">
    <div class="col s12 m6 l12">
      <div class="card z-depth-3 article-card">
        <div class="card-content">
          <p class="card-title center-align">{{team.name}}</p>
          <p *ngFor="let trainingTime of team.trainingTimes">
            {{trainingTime.day}}: {{trainingTime.time}}
          </p>
        </div>
        <div class="card-action">
          <a (click)="routerService.navigateToWithParameter('/teams', team.id)">Mehr Informationen</a>
        </div>
      </div>
    </div>
  </div>
</div>
