<div *ngIf="team">
  <div class="row">
    <div class="col s12">
      <ul class="tabs" tabs-directive>
        <li class="tab col s3"><a href="#players">Spieler</a></li>
        <li class="tab col s3"><a href="#season-table">Tabelle</a></li>
        <li class="tab col s3"><a href="#previous-games">Vorherige Spiele</a></li>
      </ul>
    </div>
    <div id="season-table" class="col s12">
      <season-table-component [team]="team"></season-table-component>
    </div>
    <div id="previous-games" class="col s12">
      <game-table-component [teamId]="team.id" [gameTye]="'PREVIOUS'"></game-table-component>
    </div>
    <div id="players" class="col s12">
      <player-table-component [teamId]="team.id"></player-table-component>
    </div>
  </div>
</div>
