<div id="register_modal" class="modal">
  <div class="modal-content">
    <h4>Registrieren</h4>

    <div class="row">
      <form class="col s12" [formGroup]="registerForm">
        <div class="row">
          <div class="input-field col s12">
            <edit-input-field [formGroup]="registerForm" [propertyField]="emailField"></edit-input-field>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <edit-input-field [formGroup]="registerForm" [propertyField]="passwordField"></edit-input-field>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="passwordConfirmation" type="password" formControlName="passwordConfirmation"
                   class="validate"
                   [ngClass]="{'invalid':(registerForm.hasError('passwordConfirmation') || registerForm.hasError('mismatchedPasswords')) && registerForm.controls['passwordConfirmation'].touched, 'valid':!registerForm.hasError('passwordConfirmation') && !registerForm.hasError('mismatchedPasswords') && registerForm.controls['passwordConfirmation'].touched}"
            >
            <label for="passwordConfirmation" [attr.data-error]="getPasswordConfirmationError()" class="active">
              Passwort bestätigen*
            </label>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <div class="relative">
      <a class="waves-effect waves-teal btn align-left" (click)="abort()">
        Abbrechen
      </a>
      <a class="waves-effect waves-green btn align-right" (click)="register(registerForm.value)"
         [ngClass]="{'disabled':!registerForm.valid}">
        Registrieren
      </a>
    </div>
  </div>
</div>
