<logIn></logIn>
<register></register>
<header>
  <nav class="top-nav">
    <div class="container">
      <div class="nav-wrapper">
        <a class="page-title">{{title}}</a>
      </div>
    </div>
  </nav>
  <div class="container">
    <a href="#" data-activates="nav-mobile" class="button-collapse top-nav full hide-on-large-only" side-nav><i
      class="material-icons">menu</i></a>
  </div>
  <ul id="nav-mobile" class="side-nav fixed">
    <li>
      <a id="logo-container">
        <img class="center-align" id="sidenav-logo" src="../../../assets/img/logo.jpg"
             (click)="routerService.navigateTo('/home')">
      </a>
    </li>

    <li class="no-padding" *ngIf="loginService.isLoggedIn()" id="user-menu">
      <ul class="collapsible collapsible-accordion">
        <li routerLinkActive="active" class="bold">
          <a class="collapsible-header waves-effect waves-teal" id="user">{{currentUserName()}}</a>
          <div class="collapsible-body" style="display: block;">
            <ul>
              <li routerLinkActive="active" class="bold">
                <a id="user-profile" (click)="showUserProfile()">Profil</a>
              </li>
              <li>
                <a id="logout" (click)="logout()" *ngIf="loginService.isLoggedIn()">Logout</a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>

    <li routerLinkActive="active">
      <a id="login" (click)="openLoginModal()" *ngIf="!loginService.isLoggedIn()">Login</a>
    </li>

    <li routerLinkActive="active" *ngIf="!loginService.isLoggedIn()">
      <a id="register" (click)="openRegisterModal()">Registrieren</a>
    </li>

    <li class="no-padding" id="articles">
      <ul class="collapsible collapsible-accordion">
        <li class="bold">
          <a class="collapsible-header waves-effect waves-teal" id="article">Artikel</a>
          <div class="collapsible-body" style="display: block;">
            <ul>
              <li>
                <a id="all-articles" (click)="showAllArticles()">Alle Artikel</a>
              </li>
              <ul class="collapsible collapsible-accordion" *ngFor="let oldClass of oldClassesWithAnArticle">
                <li>
                  <a class="collapsible-header waves-effect waves-teal">{{oldClass.name}}</a>
                  <div class="collapsible-body" style="display: block;">
                    <ul>
                      <li *ngFor="let team of oldClass.teams">
                        <a routerLinkActive="active" id="{{team.id}}"
                           (click)="showArticlesForTeam(team)">{{team.name}}</a>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
            </ul>
          </div>
        </li>
      </ul>
    </li>

    <li routerLinkActive="active" *ngIf="loginService.isLoggedIn()">
      <a id="teams" (click)="routerService.navigateTo('/teams')">Teams</a>
    </li>
    <li routerLinkActive="active">
      <a id="about-us" (click)="routerService.navigateTo('/aboutUs')">Über uns</a>
    </li>
    <li routerLinkActive="active">
      <a id="contact" (click)="routerService.navigateTo('/contact')">Kontakt</a>
    </li>
  </ul>
</header>
