<div *ngIf="team">
  <div style="position: relative;height: 70px;">
    <div class="fixed-action-btn horizontal" style="position: absolute;right: 24px;">
      <a class="btn-floating btn-large red">
        <i class="material-icons">menu</i>
      </a>
      <ul>
        <li>
          <a class="btn-floating light-blue darken-4"
             routerLink="manage_team_pictures"
             style="transform: scaleX(0.4) scaleY(0.4) translateX(40px) translateY(0px); opacity: 0;">
            <i class="material-icons">picture_in_picture</i>
          </a>
        </li>
        <li>
          <a class="btn-floating amber"
             routerLink="edit"
             style="transform: scaleX(0.4) scaleY(0.4) translateX(40px) translateY(0px); opacity: 0;">
            <i class="material-icons">mode_edit</i>
          </a>
        </li>
        <li>
          <a class="btn-floating green"
             routerLink="/teams/add"
             style="transform: scaleX(0.4) scaleY(0.4) translateX(40px) translateY(0px); opacity: 0;">
            <i class="material-icons">note_add</i>
          </a>
        </li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div id="season-table" class="col s12 m9 l10">
      <div id="table" class="section scrollspy" scroll-spy-directive>
        <h4>Tabelle</h4>
        <season-table-component [team]="team"></season-table-component>
      </div>
      <div id="games" class="section scrollspy" scroll-spy-directive>
        <h4>Spiele</h4>
        <game-table-component [teamId]="team.id" [gameTye]="'PREVIOUS'"></game-table-component>
      </div>
      <div id="players" class="section scrollspy" scroll-spy-directive>
        <h4>Spieler</h4>
        <player-table-component [teamId]="team.id"></player-table-component>
      </div>
      <div id="articles" class="section scrollspy" scroll-spy-directive>
        <h4>Artikel</h4>
        <articles-component [teamId]="team.id"></articles-component>
      </div>
    </div>
    <div class="col hide-on-small-only m3 l2">
      <div class="toc-wrapper" push-pin-directive>
        <ul class="section table-of-contents">
          <li><a href="#table">Tabelle</a></li>
          <li><a href="#games">Spiele</a></li>
          <li><a href="#players">Spieler</a></li>
          <li><a href="#articles">Artikel</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
