<div *ngIf="user">
  <h4>Bearbeite {{user.getFullName()}}</h4>

  <div class="row">
    <form class="col s12" [formGroup]="editUserForm">
      <div class="row">
        <div class="input-field col s6">
          <edit-property [formGroup]="editUserForm" [propertyField]="firstNameField"></edit-property>
        </div>
        <div class="input-field col s6">
          <edit-property [formGroup]="editUserForm" [propertyField]="lastNameField"></edit-property>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <edit-property [formGroup]="editUserForm" [propertyField]="emailField"></edit-property>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <edit-property [formGroup]="editUserForm" [propertyField]="backNumberField"></edit-property>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <select id="position" formControlName="position" materialize-dropdown>
            <option value="" disabled selected>Wähle deine Position aus</option>
            <option *ngFor="let position of positions" value="{{position.name}}">{{position.name}}</option>
          </select>
          <label for="position" class="active">Position</label>
        </div>
        <div class="input-field col s6">
          <select id="team" formControlName="team" materialize-dropdown>
            <option value="" disabled selected>Wähle deine Mannschaft aus</option>
            <option *ngFor="let team of teams" value="{{team.id}}">{{team.name}}</option>
          </select>
          <label for="team" class="active">Mannschaft</label>
        </div>
      </div>
      <div class="right-align">
        <a (click)="updateUserProfile(editUserForm.value)" class="waves-effect waves-light btn">
          <i class="material-icons right">done</i>Aktualisieren
        </a>
      </div>
    </form>
  </div>
</div>
