<div *ngIf="user" class="user-profile">
  <table class="striped bordered">
    <tbody>
    <tr>
      <td>Vorname</td>
      <td>{{user.firstName}}</td>
    </tr>
    <tr>
      <td>Nachname</td>
      <td>{{user.lastName}}</td>
    </tr>
    <tr>
      <td>E-Mail</td>
      <td>{{user.email}}</td>
    </tr>
    <tr>
      <td>Rückennummer</td>
      <td>{{user.backNumber}}</td>
    </tr>
    <tr>
      <td>Position</td>
      <td>{{user.position}}</td>
    </tr>
    <tr>
      <td>Team</td>
      <td>{{user.team ? user.team.name : ''}}</td>
    </tr>
    </tbody>
  </table>

  <div class="row" *ngIf="isCurrentUser()">
    <div class="right-align">
      <a (click)="editUserProfile()" class="waves-effect waves-light btn" style="margin-top: 2rem;">
        Bearbeiten
      </a>
    </div>
  </div>
</div>
