<div *ngIf="user">
  <div class="row">
    <div class="profile  z-depth-4">
      <div class="row">
        <div class="col l12 center-align">
          <img class="circle responsive-img" src="../../../assets/img/user-account.jpg">
        </div>
      </div>
      <div class="row">
        <div class="col l12 center-align">
          <h5>{{user.getFullName()}}</h5>
          <h6>Ski Club {{user.team.name}}</h6>
          <h6>{{user.position}}</h6>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="games">

    </div>
  </div>
</div>
