<div *ngIf="user" class="user-profile">
  <div class="row banner">
    <div class="col s8 offset-s1 secondary-background z-depth-3">
      <h3 class="center-align">{{user.getFullName()}} #{{user.backNumber}}</h3>
    </div>
    <div class="col s3">
      <img class="circle responsive-img z-depth-5" src="../../../assets/img/user-account.jpg">
    </div>
  </div>
  <div class="row">
    <div class="col s5 offset-s3">
      <property [propertyValue]="user.firstName" propertyLabel="Vorname"></property>
      <div class="divider"></div>
      <property [propertyValue]="user.lastName" propertyLabel="Nachname"></property>
      <div class="divider"></div>
      <property [propertyValue]="user.email" propertyLabel="E-Mail"></property>
      <div class="divider"></div>
      <property [propertyValue]="user.position" propertyLabel="Position"></property>
      <div class="divider"></div>
      <property [propertyValue]="user.backNumber" propertyLabel="Rückennummer"></property>
      <div class="divider"></div>
      <property [propertyValue]="user.team.name" propertyLabel="Mannschaft"></property>
    </div>
  </div>
  <div class="row" *ngIf="isCurrentUser()">
    <div class="right-align">
      <a class="waves-effect waves-light btn"><i class="material-icons right">mode_edit</i>Bearbeiten</a>
    </div>
  </div>
</div>
