<div *ngIf="isArticleWriter()" id="newArticleComponent">
  <div class="row center-align">
    <a (click)="showCreateArticleForm()" class="waves-effect waves-light btn" id="show-form">Neuen Artikel erstellen</a>
  </div>

  <div class="row" *ngIf="showForm">
    <form class="col s12" [formGroup]="newArticleForm">
      <div class="row">
        <div class="input-field col s12">
          <edit-input-field [formGroup]="newArticleForm" [propertyField]="titleField"></edit-input-field>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <edit-text-area [formGroup]="newArticleForm" [propertyField]="contentField"></edit-text-area>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <select id="team" formControlName="team" materialize-dropdown>
            <optgroup *ngFor="let oldClass of oldClasses" label="{{oldClass.name}}">
              <option *ngFor="let team of oldClass.teams" value="{{team.id}}">{{team.name}}</option>
            </optgroup>
          </select>
          <label>Team</label>
        </div>
      </div>
      <div class="row right-align">
        <a (click)="createArticle(newArticleForm.value)"
           class="waves-effect waves-light btn submit-btn">Veröffentlichen</a>
      </div>
    </form>
</div>
