<div class="row">
  <form [formGroup]="loginForm" class="col s12">
    <div class="row">
      <div class="input-field col s12">
        <input id="username" type="text" formControlName="userName" placeholder="Benutzername"
               class="validate"
               [ngClass]="{'invalid':loginForm.controls['userName'].invalid && loginForm.controls['userName'].touched, 'valid':loginForm.controls['userName'].valid && loginForm.controls['userName'].touched}"
        >
        <label for="username" [attr.data-error]="getUserNameError()">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <input id="password" type="password" formControlName="password" placeholder="Passwort"
               class="validate"
               [ngClass]="{'invalid':loginForm.controls['password'].invalid && loginForm.controls['password'].touched, 'valid':loginForm.controls['password'].valid && loginForm.controls['password'].touched}"
        >
        <label for="password" [attr.data-error]="getPasswordError()">Password</label>
      </div>
    </div>

    <a type="submit" (click)="login(loginForm.value)" class="waves-effect waves-light btn"
       [ngClass]="{'disabled':!loginForm.valid}">
      Submit
    </a>
  </form>
</div>
