<div id="login_modal" class="modal" modal-directive>
  <div class="modal-content">
    <h4>Login</h4>

    <div class="row">
      <form [formGroup]="loginForm" class="col s12" (keydown)="submit($event, loginForm.value)">
        <div class="row">
          <div class="input-field col s12">
            <edit-input-field [formGroup]="loginForm" [propertyField]="emailField"></edit-input-field>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <edit-input-field [formGroup]="loginForm" [propertyField]="passwordField"></edit-input-field>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="modal-footer">
    <div class="relative">
      <a class="waves-effect waves-teal btn align-left" (click)="abort()">
        Abbrechen
      </a>
      <a class="waves-effect waves-green btn align-right" (click)="submit(null, loginForm.value)"
         [ngClass]="{'disabled':!loginForm.valid}">
        Login
      </a>
    </div>
  </div>
</div>
