<div [formGroup]="addTeamForm">
  <div class="input-field col s6">
    <select id="day" formControlName="day" materialize-dropdown (changeEvent)="updateDay($event)">
      <option value="" disabled selected>Wähle den Trainingstag aus</option>
      <option *ngFor="let day of trainingDays; let i = index" value="{{i}}">{{day}}</option>
    </select>
    <label for="day" class="active">Trainingstag</label>
  </div>
  <div class="input-field col s6">
    <edit-input-field [formGroup]="addTeamForm" [propertyField]="timeField"></edit-input-field>
  </div>
</div>
