<div class="row" *ngIf="addTeamForm">
  <form class="col s12" [formGroup]="addTeamForm">
    <div class="row">
      <div class="input-field col s6">
        <edit-input-field [formGroup]="addTeamForm" [propertyField]="nameField"></edit-input-field>
      </div>
      <div class="input-field col s6">
        <edit-input-field [formGroup]="addTeamForm" [propertyField]="soccerIdField"></edit-input-field>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s12">
        <select id="old-class" formControlName="oldClass" materialize-dropdown>
          <option value="" disabled selected>Wähle eine Altersklasse aus</option>
          <option *ngFor="let oldClass of oldClasses" value="{{oldClass.id}}">{{oldClass.name}}</option>
        </select>
        <label for="old-class" class="active">Altersklasse</label>
      </div>
    </div>
    <!--addresses-->
    <div formArrayName="trainingTimes">
      <div *ngFor="let address of addTeamForm.controls.trainingTimes.controls; let i=index" class="row">
        <div class="col s11">
          <div class="card z-depth-3 bordered-card">
            <div class="card-content">
              <p class="card-title">Trainingseinheit {{i + 1}}</p>
              <p [formGroupName]="i">
                <add-training-time-component
                  [form-group]="addTeamForm.controls.trainingTimes.controls[i]"></add-training-time-component>
              </p>
            </div>
          </div>
        </div>
        <div class="col s1">
          <a class="btn-floating btn-large waves-effect waves-light"><i class="material-icons">remove</i></a>
        </div>
      </div>
    </div>

    <div class="margin-20">
      <a (click)="addTrainingTime()" style="cursor: default; color: red;">
        Add another Training Time +
      </a>
    </div>

    <div class="margin-20">
      <button type="submit" class="btn btn-primary pull-right" [disabled]="!addTeamForm.valid">Submit</button>
    </div>
    <div class="clearfix"></div>

    <div class="margin-20">
      <div>myForm details:-</div>
      <pre>Is myForm valid?: <br>{{addTeamForm.valid | json}}</pre>
      <pre>form value: <br>{{addTeamForm.value | json}}</pre>
    </div>
  </form>
</div>
