<div [formGroup]="addTeamForm">
  <div class="input-field col s6">
    <select id="day" formControlName="day" materialize-dropdown>
      <option value="" disabled selected>Wähle den Trainingstag aus</option>
      <option *ngFor="let day of days" value="{{day}}">{{day}}</option>
    </select>
    <label for="day" class="active">Trainingstag</label>
  </div>
  <div class="input-field col s6">
    <edit-input-field [formGroup]="addTeamForm" [propertyField]="timeField"></edit-input-field>
  </div>
</div>
