<div class="row" *ngIf="addTeamForm">
  <form class="col s12" [formGroup]="addTeamForm">
    <div class="row">
      <div class="input-field col s6">
        <edit-input-field [formGroup]="addTeamForm" [propertyField]="nameField"></edit-input-field>
      </div>
      <div class="input-field col s6">
        <edit-input-field [formGroup]="addTeamForm" [propertyField]="soccerIdField"></edit-input-field>
      </div>
    </div>
    <div class="row margin">
      <div class="input-field col s12">
        <select id="old-class" formControlName="oldClass" dropdown-directive
                (changeEvent)="updateOldClassValue($event)">
          <option value="" disabled selected>Wähle eine Altersklasse aus</option>
          <option *ngFor="let oldClass of oldClasses" value="{{oldClass.id}}">{{oldClass.name}}</option>
        </select>
        <label for="old-class" class="active" data-error="Eine Altersklasse muss ausgewählt werden">Altersklasse</label>
      </div>
    </div>
    <!--addresses-->
    <div formArrayName="trainingTimes">
      <div *ngFor="let address of addTeamForm.controls.trainingTimes.controls; let i=index" class="row">
        <div class="col s12 card bordered-card">
          <div class="card-content">
            <p class="card-title">Trainingseinheit {{i + 1}}</p>
            <p [formGroupName]="i" class="training-time-component">
              <add-training-time-component (onUpdateDay)="updateDayValue($event, i)"
                                           [form-group]="addTeamForm.controls.trainingTimes.controls[i]"></add-training-time-component>
            </p>
          </div>
          <div class="card-action">
            <div class="right-align">
              <a (click)="removeTrainingTime(i)">Trainingseinheit entfernen</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row center-align">
      <a (click)="addTrainingTime()" class="btn-floating btn-large waves-effect waves-light green">
        <i class="material-icons">add</i>
      </a>
    </div>


    <div class="relative">
      <a (click)="addTeam(addTeamForm.value)"
         class="waves-effect waves-light btn submit-btn align-right"
         [ngClass]="{'disabled': !addTeamForm.valid}">
        {{getSubmitButtonText()}}
      </a>
      <a (click)="locationService.goBack()"
         class="waves-effect waves-light btn align-left">
        Zurück
      </a>
    </div>
  </form>
</div>
