<logIn></logIn>
<register></register>
<div parallax-directive>
  <div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
      <div class="container">
        <br><br>
        <h1 class="header center teal-text text-lighten-2"></h1>
        <div class="row center">
          <h5 class="header col s12 light"></h5>
        </div>
        <div class="row center buttons">
          <a class="btn-large waves-effect waves-light padding-right yellow darken-4"
             (click)="openLoginModal()">Login</a>
          <a class="btn-large waves-effect waves-light yellow darken-4" (click)="openRegisterModal()">Registrieren</a>
        </div>
        <br><br>
      </div>
    </div>
    <div class="parallax" parallax-directive><img src="../../../assets/img/top.png"
                                                  alt="Skiclub 68"></div>
  </div>


  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center lime-text">
              <fa name="long-arrow-up"></fa>
            </h2>
            <h5 class="center">Immer ganz oben mit dabei</h5>

            <p class="light">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
              invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
              dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore magna aliquyam</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center lime-text">
              <fa name="futbol-o"></fa>
            </h2>
            <h5 class="center">Fußball der Spitzenklasse</h5>

            <p class="light">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
              invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
              dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore magna aliquyam</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h2 class="center lime-text">
              <fa name="users"></fa>
            </h2>
            <h5 class="center">Teamwork vom Feinsten</h5>
            <p class="light">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
              invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo
              dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
              Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore
              et dolore magna aliquyam</p>
          </div>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h3 class="header col s12 light">Eine Mannschaft - Ein Ziel</h3>
        </div>
      </div>
    </div>
    <div class="parallax" parallax-directive><img src="../../../assets/img/middle.png"
                                                  alt="Die geilsten Jungs aus dem Münsterland"></div>
  </div>

  <div class="container">
    <div class="section">

      <div class="row">
        <div class="col s12 center">
          <h3><i class="mdi-content-send brown-text"></i></h3>
          <h4>Der Aufstieg</h4>
          <p class="left-align light">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id
            nunc
            nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut ultricies eros.
            Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem neque, posuere et pretium
            eget,
            bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam, eu mattis nisl maximus sed. Nulla imperdiet
            semper molestie. Morbi massa odio, condimentum sed ipsum ac, gravida ultrices erat. Nullam eget dignissim
            mauris, non tristique erat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia
            Curae;</p>
        </div>
      </div>

    </div>
  </div>


  <div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
        <div class="row center">
          <h3 class="header col s12 light">Die Entscheidung fällt auf dem Platz</h3>
        </div>
      </div>
    </div>
    <div class="parallax" parallax-directive><img src="../../../assets/img/bottom.png"
                                                  alt="Fußballplatz"></div>
  </div>

  <footer class="page-footer teal">
    <div class="container">
      <div class="row">
        <div class="col l12 s12">
          <h5 class="white-text center-align">Skiclub 68</h5>
          <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy
            eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
            justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit
            amet.</p>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <span>Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Patrick Engelkes</a></span>
      </div>
    </div>
  </footer>
</div>
