@import "../node_modules/materialize-css/sass/components/color";
@import "../node_modules/materialize-css/sass/components/variables";

.container {
  padding-top: 20px;
}

.modal-footer a.disabled {
  cursor: not-allowed !important;
}

a {
  color: $navbar-font-color;
}

.above-navigation {
  background-color: $primary-color;

  a {
    margin-right: 10px;
  }

  a:hover {
    cursor: pointer;
  }

  .divider {
    background: transparent;
    border-right: 1px solid $navbar-font-color;
    padding-right: 15px;
  }
}

.user-profile {
  .banner {
    .secondary-background {
      background: $secondary-color;
    }

    h3 {
      color: $navbar-font-color;
    }

    img {
      margin-left: -5rem;
      width: 9rem;
    }
  }

  font-size: 1.3rem;
}
