@import "../node_modules/materialize-css/sass/components/color";
@import "../node_modules/materialize-css/sass/components/variables";

$secondary-color-light: lighten($secondary-color, 20%);

.container {
  padding-top: 20px;
  padding-left: 200px;
}

@media only screen and (max-width: 992px) {
  .container {
    padding-left: 0;
  }
}

a.disabled {
  cursor: not-allowed !important;
}

a {
  color: $navbar-font-color;
}

.user-profile {
  .banner {
    .secondary-background {
      background: $secondary-color;
    }

    h3 {
      color: $navbar-font-color;
    }
  }

  font-size: 1.3rem;
}

.bordered-card {
  border: 1px solid $secondary-color;

  .chip {
    margin-left: 1rem;
  }

  //can not nest because the pointer is not applied to the whole chip
  .chip:hover {
    cursor: pointer;
  }
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating) {
  color: $secondary-color;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-floating):hover {
  color: $secondary-color-light;
}

.input-field label:not(.label-icon).active {
  font-size: .8rem;
  transform: translateY(-140%);
}

.select-wrapper + label {
  top: 0 !important;
}

.relative {
  position: relative;
}

.align-right {
  position: absolute;
  right: 0;
  top: 0;
}

.align-left {
  position: absolute;
  left: 0;
  top: 0;
}
