@import "../node_modules/materialize-css/sass/components/color";
@import "../node_modules/materialize-css/sass/components/variables";

.modal-footer a.disabled {
  cursor: not-allowed !important;
}

a {
  color: $navbar-font-color;
}

.above-navigation {
  background-color: $primary-color;

  a {
    margin-right: 10px;
  }

  a:hover {
    cursor: pointer;
  }

  .divider {
    background: transparent;
    border-right: 1px solid $navbar-font-color;
    padding-right: 15px;
  }
}

.profile {
  position: absolute;
  top: 8%;
  left: 16% !important;
  height: 50%;
  width: 14%;
  background-color: $secondary-color;

  img {
    margin-top: 50px;
    width: 70%;
  }

  h5, h6 {
    color: $navbar-font-color;
  }
}
